$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

$grid-max-width:1024px;

$breakpoint-small: max-width 29.9375em;

$breakpoint-small-medium: 30em 47.9375em;

$breakpoint-medium: 48em ;

$breakpoint-medium-wide: 48em 59.9375em;

$breakpoint-wide: 60em;

$breakpoint-wide-huge:60.9375em 74.9375em;

$breakpoint-huge:75em;

.breakpoints:after{
	position: fixed;
	right: 0; top: 0;
	background: rgba(255, 0, 0, 0.25);
	border: 3px solid rgba(255, 0, 0, 1.0);
	color: rgba(255, 0, 0, 1.0);
	@include rem-fallback(margin, 1);
	@include rem-fallback(padding, 0.5);
	content:"$breakpoint goes here...";

	@include breakpoint($breakpoint-small) {content:"Small"} 		  	
	@include breakpoint($breakpoint-small-medium) {content:"Small-Medium"} 	
	@include breakpoint($breakpoint-medium) 	{content:"Medium"}	
	@include breakpoint($breakpoint-medium-wide) {content:"Medium-Wide"}	
	@include breakpoint($breakpoint-wide) {content:"Wide"}
	@include breakpoint($breakpoint-wide-huge) {content:"Wide-Huge"}
	@include breakpoint($breakpoint-huge) {content:"HUGE"}
}

.no-mediaqueries .breakpoints:after{
	content:"No Media Queries available!";
}